html {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    font-size: 25pt;
    margin-bottom: 0pt;
    margin-left: 10%;
    margin-top: 10%;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal; 
    text-align: left;
    font-size: 20pt;
    margin-top: 10pt;
}

section {
    margin: 10%;
    border-style: dashed;
    border-color: peru;
    border-width: 3px;
    padding: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10%;
}

p {
    font-size: 14pt;
    margin-top: 5pt;
}

.top {
    margin-left: 10%;
}

.descriptor {
    font-size: 10pt;
    color: peru;
    margin: 0pt;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.spread {
    letter-spacing: .3em;
}

.close {
    letter-spacing: -.06em;
}

.underline {
    text-decoration: underliine;
}

.strike {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}